#users-page {
  width: 100vw;
  height: 100vh;
  background-color: #eee;

  .filter {
    display: block;
    margin-bottom: 10px;
  }

  .create-new {
    display: block;
    margin-bottom: 10px;
  }
}
